/* The body is the overall web page. The margin and padding have been set to 0 to make sure that the snow background image bleeds to the edge of the screen */
/* The linear-gradient creates a gradient colour changing from blue to white from the top of the screen to the bottom. 2 colours are used, but you can add more.  */
body {
    background: linear-gradient(blue, white);
    padding: 0;
    margin: 0;
}

/* The scene is an image used to set the background scene, similar to a stage set. */
/* Set to fill the full width of the screen */
#scene {
    width: 100%;
}

/* The snowman. To allow us to position the snowman at specific distance from the top and left of the screen, position must be set to absolute. */
/* The z-index is similar to overlaying transparencies with pictures. An element with a z-index of 1000 will overlay an element with a z-index of 999 or 0. */
/* If the z-index is not specified, it is 0 */
#snowman {
	position: absolute;
	left: 400px;
	top: 350px;
	height: 400px;
	z-index: 1000;
}

/* Override the Bootstrap h1 style */
/* The text will be red with a shadow. Notice instead of a hexadecimal colour e.g. #00CC00, we are using an rgb colour */
/* rgb which stands for red green blue allows us to specific rgb amounts and also a transparency. In this example 0.3 transparency is used which is 30% */
/* rgb values go from 0 to 255, so 0,0,0,1.0 is black with no transparency and 255,255,255,0.1 is white with 10% transparency */
h1 {
    color: red;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 48px;
    padding: 20px;
    text-shadow: 5px 5px rgba(0,0,0,0.3);
}

/* Override the padding on the Bootstrap button group */
/*.btn-group {
    padding: 20px;
}*/


